/* Hover Effects */

.wp-block-image.bsmp-zoom-on-hover img, .wp-block-cover.bsmp-zoom-on-hover img {
    transition: transform 0.3s ease;
}

.wp-block-image.bsmp-zoom-on-hover:hover img, .wp-block-cover.bsmp-zoom-on-hover:hover img {
    transform: scale(1.05);
}

.wp-block-image.bsmp-grayscale-hover img, .wp-block-cover.bsmp-grayscale-hover img {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.wp-block-image.bsmp-grayscale-hover:hover img, .wp-block-cover.bsmp-grayscale-hover img {
    filter: grayscale(0%);
}

.wp-block-image.bsmp-rotate-on-hover img, .wp-block-cover.bsmp-rotate-on-hover img {
    transition: transform 0.3s ease;
}

.wp-block-image.bsmp-rotate-on-hover:hover img, .wp-block-cover.bsmp-rotate-on-hover img {
    transform: rotate(3deg);
}

.wp-block-image.bsmp-hover-shadow img, .wp-block-cover.bsmp-hover-shadow img {
    transition: box-shadow 0.3s ease;
}

.wp-block-image.bsmp-hover-shadow:hover img, .wp-block-cover.bsmp-hover-shadow img {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.wp-block-image.bsmp-hover-blur img, .wp-block-cover.bsmp-hover-blur img {
    transition: filter 0.3s ease;
}

.wp-block-image.bsmp-hover-blur:hover img, .wp-block-cover.bsmp-hover-blur img {
    filter: blur(2px);
}

/* Overlay Effects */

.wp-block-image.bsmp-hover-overlay-dark, .wp-block-cover.bsmp-hover-overlay-dark {
    position: relative;
}

.wp-block-image.bsmp-hover-overlay-dark::after, .wp-block-cover.bsmp-hover-overlay-dark::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.wp-block-image.bsmp-hover-overlay-dark:hover::after, .wp-block-cover.bsmp-hover-overlay-dark:hover::after {
    opacity: 1;
}

.wp-block-image.bsmp-hover-overlay-light. .wp-block-cover.bsmp-hover-overlay-light {
    position: relative;
}

.wp-block-image.bsmp-hover-overlay-light::after, .wp-block-cover.bsmp-hover-overlay-light::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.wp-block-image.bsmp-hover-overlay-light:hover::after, .wp-block-cover.bsmp-hover-overlay-light:hover::after {
    opacity: 1;
}
